target/META-INF/mule-src/reusable-java-app/src/main/mule/reusable-java-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d914f9b5-def6-4488-b5b6-4688642a28bf" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="reusable-java-appFlow" doc:id="bb69246d-a16d-46f0-9ee2-45dd64d34e5f" >
		<http:listener doc:name="Listener" doc:id="3c5802a5-3599-4bb0-9d0f-ac519c7b1bae" config-ref="HTTP_Listener_config" path="/calljava"/>
		<ee:transform doc:name="Transform Message" doc:id="c15ef2f6-a5f9-40c8-b02e-97fe03f97928" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import java!utils::MyUtils
output text/plain
---

	MyUtils::convert(payload)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c921257b-a868-40e9-ae94-2688d2f6c477" message="#[%dw 2.0 output text/plain --- payload]"/>
	</flow>
</mule>
